rempersa/bin/Debug/rempersa.exe
rempersa/bin/Debug/rempersa.vshost.exe
rempersa/bin/Release/rempersa.exe
rempersa/bin/Release/rempersa.vshost.exe
persa/rempersa/obj/x86/Debug/rempersa.exe
rempersa/obj/x86/Release/rempersa.exe
rempersa/obj/x86/Debug/rempersa.vbproj.AssemblyReference.cache
rempersa/obj/x86/Debug/rempersa.pdb
rempersa/obj/x86/Debug/rempersa.exe
rempersa/bin/Debug/rempersa.pdb
rempersa/bin/Debug/rempersa.exe
