C:\paso\persa\rempersa\bin\Debug\rempersa.exe
C:\paso\persa\rempersa\bin\Debug\rempersa.vshost.exe
C:\paso\persa\rempersa\bin\Release\rempersa.exe
C:\paso\persa\rempersa\bin\Release\rempersa.vshost.exe
C:\paso\persa\rempersa\obj\x86\Debug\rempersa.exe
C:\paso\persa\rempersa\obj\x86\Release\rempersa.exe